<p>
  registration-list works!
</p>
<div class="row float-left">
  <h4 class="tfr-list-page-title"><i class="fa fa-sitemap"></i> Registration </h4>
</div>

<div class="row float-right">
  <div class="col-md-10"></div>
  <div class="">
    <button data-toggle="tooltip" title="add new user" type="button" class="btn tfr-submit-button" (click)="navigateToCreateNew()">
      <i class="fa fa-plus"></i> Register
    </button>
  </div>
</div>


<div class="table-responsive">
  <table id="tblRegistration" class="display datatable-custom table table-striped table-responsive" cellspacing="0" width="100%"></table>
</div>
